<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Blob: Authors</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
 
<body>

    <div class="main__wrapper">

        <section class="main__header" th:insert="/html/sections/header :: header"></section>
        <section class="main__nav" th:insert="/html/sections/nav :: nav"></section>

        <article class="author__container">

            <h2 class="article__title">Add & View Authors</h2>

            <section class="author__form">
                <form action="/createAuthor" method="POST">
                    <label for="name">Author name:</label>
                    <input type="text" name="name"></input>
                    <button>Submit</button>
                </form>
            </section>

            <section class="author__list">
                <ul th:each="author: ${authors}">
                    <li th:text="${author.name}">Name should go here</li>
                </ul>
            </section>

        </article>

        <section class="main__footer" th:insert="/html/sections/footer :: footer"></section>
    </div>

</body>

</html>