<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Blob: Authors</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div class="wrapper">

        <section th:insert="/html/sections/header :: header"></section>

        <main>
            <h2>this is the authors.html page</h2>
            <form action="/createAuthor" method="POST">
                <label>Author name: <input type="text" name="name"/></label>
                <button>Submit</button>
            <ul th:each="author: ${authors}">
                    <li th:text="${author.name}">Name should go here</li>
            </ul>

        </main>

        <footer>


        </footer>


    </div>



</body>

</html>