<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Blob: Posts</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <div class="main__wrapper">

        <section class="main__header" th:insert="/html/sections/header :: header"></section>
        <section class="main__nav" th:insert="/html/sections/nav :: nav"></section>

        <article class="post__container">

            <h2 class="article__title">Add & View Posts</h2>

            <section class="post__form">
                <form action="/createPost" method="POST">
                    <div>
                        <label for="title">Post Title:</label>
                        <input type="text" name="title"></input>
                    </div>
                    <div>
                        <label for="text">Post Text:</label>
                        <input type="text" name="text"></input>
                    </div>
                    <div>
                        <select>
                            <option>
                                Author dropdown here
                            </option>
                        </select>
                    </div>
                    <div>
                        <select>
                            <option>
                                Category dropdown here
                            </option>
                        </select>
                    </div>
                    <button>Submit</button>
                </form>
            </section>

            <section class="post__list">
                <ul th:each="post: ${posts}">
                    <li th:text="${post.title}">Post Title</li>
                    <li th:text="${post.text}">Post Text</li>
                </ul>
            </section>

        </article>

        <section class="main__footer" th:insert="/html/sections/footer :: footer"></section>
    </div>

</body>

</html>